
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    outline: none;
}
body::-webkit-scrollbar {
    width: 0em;
  }
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* overflow: hidden; */
    
    background-image: linear-gradient(to right,#402639,#242b42,#402639);
}
.container{
    width: 330px;
    background:rgba(255, 255, 255, 0.089);
    padding: 50px 35px 10px 35px;
    border-radius: 5px;
    text-align: center;
   

}
.container .from_outer{
    width: 100%;
    overflow: hidden;

    
}
.from_outer form{
    display: flex;
    width: 400%;
    
}
.from_outer form .page{
    width: 25%;
    
}

.from_outer form .page .title{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    /* margin-bottom: -30px; */
    color: rgba(255, 255, 255, 0.74);
}
.from_outer form .page .field{
    height: 45px;
    width: 330px;
    margin: 25px 0;
    color: lightyellow;
    /* display: flex; */
    position: relative;
    

}

.from_outer form .page .field .label{
    position: absolute;
    font-weight: 500;
    color: white;
    top: -30%; 
}
.from_outer form .page .field input{
height: 70%;
width: 100%;
background-color: rgba(255, 255, 255, 0.103);
outline: none;
color: white;
border-radius: 5px;
font-size: 15px;
padding-left: 15px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.616);
}
::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 1;
    filter: invert(1);    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
form .page .field select{
    height: 70%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.103);
    
    padding-left: 10px;
    font-size: 15px;
    /* font-weight: 500; */
   
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.616);
}

form .page .field select option{
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background: transparent;
}
form .page .field select option{
    color: black;
   
}

.from_outer form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
.from_outer form .page .field button:hover{
    background: rgb(77, 7, 45);
    color: white;
    font-weight: 600;
} 
.from_outer form .page .btns{
    display: flex;
    justify-content: space-between;
}
.from_outer form .page .btns .prev {
    margin-right: 3px;
    font-size: 17px;
}
.from_outer form .page .btns .next {
    margin-left: 3px;

}

.reg{
    position: absolute;
    font-size: 90px;
    color: rgba(255, 254, 254, 0.068);
    pointer-events: none;
    letter-spacing: 11px;
}
.container .progress_bar{
    display: flex;
    margin: 10px 0;
}
.container .progress_bar .step{
    position: relative;
    text-align: center;
    width: 100%;

}
.progress_bar .step p{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 8px;
}
.progress_bar .step .bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid white;
    display: inline-block;
    border-radius: 50%;
    color: white;
    
}
.progress_bar .step:last-child .bullet::before,
.progress_bar .step:last-child .bullet::after{
    display: none;
}
.progress_bar .step .bullet::before,
.progress_bar .step .bullet::after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: white;
}
.progress_bar .step .bullet::after{
    background-color:rgb(18, 228, 228);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}
.progress_bar .step span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.progress_bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
